<ion-view title="Dashboard">
  <ion-content class="has-header padding">
     <div class="container fullheight">
        <div class="row">
            <div class="col-md-5">
                <form role="form" class="form-horizontal">
                    <h3>Description</h3>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.focus == true }">
                            <input type="radio" name="focus" ng-click="markers.m1.focus=true;" />Show
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.focus == false }">
                            <input type="radio" name="focus" ng-click="markers.m1.focus=false;" />Hide
                        </label>
                    </div>
                    <br /><br />
                    Popup message: <input ng-model="markers.m1.message" type="text"></label>
                    <h3>Icon</h3>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.icon != iconDog && markers.m1.icon != iconCat && markers.m1.icon != iconBird }">
                            <input type="radio" ng-model="markers.m1.icon" ng-value="iconDefault" class="btn btn-default">Default</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.icon == iconDog }">
                            <input type="radio" ng-model="markers.m1.icon" ng-value="iconDog" class="btn btn-default">Dog</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.icon == iconCat }">
                            <input type="radio" ng-model="markers.m1.icon" ng-value="iconCat" class="btn btn-default">Cat</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: markers.m1.icon == iconBird }">
                            <input type="radio" ng-model="markers.m1.icon" ng-value="iconBird" class="btn btn-default">Bird</button>
                        </label>
                    </div>
                    <h3 ng-show="markers.m1.icon == iconC">AwesomeIcon color</h3>
                    <div class="btn-group" data-toggle="buttons" ng-show="markers.m1.icon == iconC">
                        <label class="btn btn-primary" ng-class="{ active: iconC.markerColor == 'red' }">
                            <input type="radio" ng-model="iconC.markerColor" ng-value="'red'" class="btn btn-default">Red</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconC.markerColor == 'blue' }">
                            <input type="radio" ng-model="iconC.markerColor" ng-value="'blue'" class="btn btn-default">Blue</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconC.markerColor == 'green' }">
                            <input type="radio" ng-model="iconC.markerColor" ng-value="'green'" class="btn btn-default">Green</button>
                        </label>
                    </div>
                    <h3 ng-show="markers.m1.icon == iconC">AwesomeIcon icon</h3>
                    <div class="btn-group" data-toggle="buttons" ng-show="markers.m1.icon == iconC">
                        <label class="btn btn-primary" ng-class="{ active: iconC.icon == 'tag' }">
                            <input type="radio" ng-model="iconC.icon" ng-value="'tag'" class="btn btn-default">Tag</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconC.icon == 'usd' }">
                            <input type="radio" ng-model="iconC.icon" ng-value="'usd'" class="btn btn-default">USD</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconC.color == 'heart' }">
                            <input type="radio" ng-model="iconC.icon" ng-value="'heart'" class="btn btn-default">Heart</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconC.color == 'home' }">
                            <input type="radio" ng-model="iconC.icon" ng-value="'home'" class="btn btn-default">Home</button>
                        </label>
                    </div>
                    <h3 ng-show="markers.m1.icon == iconD">MakiMarker color</h3>
                    <div class="btn-group" data-toggle="buttons" ng-show="markers.m1.icon == iconD">
                        <label class="btn btn-primary" ng-class="{ active: iconD.color == '#f00' }">
                            <input type="radio" ng-model="iconD.color" ng-value="'#f00'" class="btn btn-default">#ff0000</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.color == '#0f0' }">
                            <input type="radio" ng-model="iconD.color" ng-value="'#0f0'" class="btn btn-default">#00ff00</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.color == '#00f' }">
                            <input type="radio" ng-model="iconD.color" ng-value="'#00f'" class="btn btn-default">#0000ff</button>
                        </label>
                    </div>
                    <h3 ng-show="markers.m1.icon == iconD">MakiMarker icon</h3>
                    <div class="btn-group" data-toggle="buttons" ng-show="markers.m1.icon == iconD">
                        <label class="btn btn-primary" ng-class="{ active: iconD.icon == 'beer' }">
                            <input type="radio" ng-model="iconD.icon" ng-value="'beer'" class="btn btn-default">Beer</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.icon == 'rocket' }">
                            <input type="radio" ng-model="iconD.icon" ng-value="'rocket'" class="btn btn-default">Rocket</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.icon == 'warehouse' }">
                            <input type="radio" ng-model="iconD.icon" ng-value="'warehouse'" class="btn btn-default">Warehouse</button>
                        </label>
                    </div>
                    <h3 ng-show="markers.m1.icon == iconD">MakiMarker size</h3>
                    <div class="btn-group" data-toggle="buttons" ng-show="markers.m1.icon == iconD">
                        <label class="btn btn-primary" ng-class="{ active: iconD.size == 's' }">
                            <input type="radio" ng-model="iconD.size" ng-value="'s'" class="btn btn-default">Small</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.size == 'm' }">
                            <input type="radio" ng-model="iconD.size" ng-value="'m'" class="btn btn-default">Medium</button>
                        </label>
                        <label class="btn btn-primary" ng-class="{ active: iconD.size == 'l' }">
                            <input type="radio" ng-model="iconD.size" ng-value="'l'" class="btn btn-default">Large</button>
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <leaflet center="center" markers="markers" height="480px" width="640px"></leaflet>
            </div>
        </div>
     </div>
  </ion-content>
</ion-view>
